.navBg * {
  transition: 0.3s;
  opacity: 0.2;
  animation: fadeIn 1s ease-in 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navBg {
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: 0.3s;

  &.light {
    background: #fff;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.scrollNav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: 100px;
}

.navBtn {
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  color: var(--primary-green);
  background: #fff;
}

.nav {
  margin-left: auto;
  margin-right: 2.5rem;
  font-weight: 300;
  font-size: 15px;

  a {
    text-decoration: none;
    color: inherit;
    margin-left: 2rem;

    &:hover {
      color: var(--primary-green);
    }
  }
}

.light {
  .nav {
    color: #8a94a6;
  }

  .navBtn {
    border: 1px solid var(--primary-green);
  }
}
.dark {
  .nav {
    color: #fff;
  }

  .navBtn {
  }
}

a.activeItem {
  color: var(--primary-green);
  font-weight: 500;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav {
    margin-left: 0;
  }
  button.navBtn {
    padding: 12px 1.2rem;
    font-size: 13px;
  }
  .logo {
    width: 100px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger * {
    transition: 0.3s;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    right: 1rem;
  }
  .hamburger div {
    background: #fff;
    height: 2px;
    width: 100%;
    border-radius: 4px;
  }
  .dark {
    .hamburger div {
      background: #fff;
    }
  }
  .light {
    .hamburger div {
      background: #1b1f27;
    }
  }
  .hamburger div:last-of-type {
    width: 50%;
    margin-left: auto;
  }
  .closeMenuBtn div:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .closeMenuBtn div:nth-of-type(2) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .closeMenuBtn div:last-of-type {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .logo {
    width: 80px;
  }
  button.navBtn {
    border-radius: 6px;
    background: var(
      --gradient,
      linear-gradient(129deg, #013f00 0%, #48d911 50.95%, #5aff15 100%)
    );
    color: #fff;
    width: fit-content;
    margin-top: 1.5rem;
  }
  .nav {
    color: #1b1f27 !important;
    display: grid;
    gap: 1rem;
    margin: 0;
    margin-top: 2rem;
    gap: 1.5rem;
    font-weight: 500;

    a {
      margin-left: 0;
    }
  }
  .openMenu {
    height: 100vh;
    width: 90%;
    right: 0;
    max-width: 500px;
    background: #fff;

    .hamburger {
      div {
        background: #1b1f27;
      }
    }

    .header {
      padding: 1.5rem;
    }

    button.navBtn {
      border: none;
    }
  }
}
