.navBg * {
  transition: 0.3s;
}
.navBg {
  position: fixed;
  z-index: 5;
  width: 100%;

  &.light {
    
  background: #fff;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.scrollNav {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: 100px;
}

.navBtn {
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  color: var(--primary-green);
  background: #fff;
}

.nav {
  margin-left: auto;
  margin-right: 2.5rem;
  font-weight: 300;
  font-size: 15px;

  a {
    text-decoration: none;
    color: inherit;
    margin-left: 2rem;

    &:hover {
      color: var(--primary-green);
    }
  }
}

.light {
  .nav {
    color: #8a94a6;
  }

  .navBtn {
    border: 1px solid var(--primary-green);
  }
}
.dark {
  .nav {
    color: #fff;
  }

  .navBtn {
  }
}

a.activeItem {
  color: var(--primary-green);
  font-weight: 500;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav {
    margin-left: 0;
  }
  button.navBtn {
    padding: 12px 1.2rem;
    font-size: 13px;
  }
  .logo {
    width: 100px;
  }
  .navlist li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger * {
    transition: 0.3s;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    right: 1rem;
  }
  .hamburger div {
    background: #1b1f27;
    height: 2px;
    width: 100%;
    border-radius: 4px;
  }
  .hamburger div:last-of-type {
    width: 50%;
    margin-left: auto;
  }
  .closeMenuBtn div:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .closeMenuBtn div:nth-of-type(2) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .closeMenuBtn div:last-of-type {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .logo {
    width: 80px;
  }
  .navlist {
    flex-direction: column;
    align-items: flex-start;
  }
  .navlist li {
    margin: 1rem 0;
  }
  .openMenu {
    height: 100vh;
  }
  .nav {
    margin-top: 1rem;
  }
  button.navBtn {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .navBg {
    background: var(--bg-color-004);
  }
}
