.brands {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__ttl {
    font-size: 32px;
    margin-bottom: 2rem;
  }
  .brandList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 2rem 2.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .brands {
    display: none;
  }
}
